@media only screen and (max-width: 600px) {
    .menupage-buttons {
      display: none;
    }
}

@media only screen and (max-width: 600px) {
  .top-fishanimation {
    width: 200%;
  }
}

@media only screen and (max-width: 600px) {
  .sidepage2 {
    display: block;
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  .sidepage {
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 900px) {
  .top {
    display: block;
  }
}


@media only screen and (max-width: 600px) {
  .top-text {
    text-align: center;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .location-map {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .sidepage-side2 {
    text-align: left;
  }
}
@media only screen and (max-width: 600px) {
  .work-img {
    width: 200%;
    text-align: left;
    
  }
}
@media only screen and (max-width: 600px) {
  .story-img{
    width: 200%;
    text-align: left;
    
  }
}
/*about page styling is under her*/
@media only screen and (max-width: 600px) {
  .sidepage-orange1{
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .sidepage-white1{
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .sidepage-orange2{
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .sidepage-text1{
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .sidepage-text2{
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .sidepage-text3{
    width: 100%;
  }
}