@media only screen and (min-width: 100px) {
    .hamburger-menu {
      display: none;
    }
}
@media only screen and (min-width: 100px) {
  .top-fishanimation {
    display: block;
    width: 700px ;
  }
}