@media only screen and (min-width: 100px) {
  .menupage-buttons {
    display: flex;
    width: 50%;
  }
}

@media only screen and (min-width: 100px) {
  .top-fishanimation {
    width: 100%;
  }
}

@media only screen and (min-width: 100px) {
  .hamburger-menu {
    display: none;
    
  }
}
@media only screen and (min-width: 100px) {
  .location-map {
    width: 100%;
    
  }
}

@media only screen and (min-width: 100px) {
  .sidepage-side2 {
    width: 50%;
    text-align: left;
    
  }
}

@media only screen and (min-width: 100px) {
  .work-img {
    width: 100%;
    text-align: left;
    
  }
}
@media only screen and (min-width: 100px) {
  .story-img{
    width: 100%;
    text-align: left;
  }
}