body{
    text-align: center;
}
.side-navn{

}
/*top nav styling ligger under her*/
.topnav {
    overflow: hidden;
    background-color: none;
    top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: rgb(192, 173, 173);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #e8ad21;
    color: rgb(255, 255, 255);
    transition: 0.6s;
}
  
/* Style the "active" element to highlight the current page */
.topnav a.active {
    background-color: chocolate;
    color: white;
}

/* Place the navbar at the bottom of the page, and make it stick */
.botnav {
    background-color: #553C00;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    text-align: center ;
    padding-top: 30px;
    padding-bottom: 30px;
}
  
/* Style the links inside the navigation bar */
.botnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

  /* Change the color of links on hover */
  .botnav a:hover {
    color: black;
}
 
.top{
    display: flex;
    padding: 40px 40px;
}



/* Stil for seksjoner */
.section {
    display: none;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
/* Stil for knapper */
button {

    border: solid #ffd87c;
    background-color: #A67500;
    color: white;
    font-size: 30px;
}


.sidepage{
    display: flex;
    background-color: chocolate;
    padding: 50px;
}
.sidepage-side1{
    width: 50%;
}
.sidepage-side2{
    width: 50%;
    text-align: left;
}

.homepage-menu{
    display: flex;
    color: white;
    border: solid saddlebrown ;
}
.menupage-text{
    background-color: #e8ad21;
    padding: 40px;
    width: 700px;
}

.hamburger-menu{
    
}

.hamburger-line {
    width: 35px;
    height: 35px;
    background-color: rgb(0, 0, 0);
    margin: 6px 0;
}


.top-fishanimation{
    width: 700px;
    position: relative;
    left: 0;
    animation-name: fishanimation;
    animation-duration: 1.9s;
}
@keyframes fishanimation {
    0%   { left:-39%; top:0px;}
    100% { right:0px; top:0px;}
}

.top-text{
    animation-name:toptextanimation;
    animation-duration: 3s;
}
@keyframes toptextanimation {
    0% { opacity: 0%;}
    100% { opacity: 100%;}
}














/*all font styling is under here */
h1{
    font-family: Bungee;
    font-size: 50px;
}
h2{
    font-size:30px  ;
}
.botnav-p{
    font-family: Bungee;
    color:white;
}
